* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* margin: 0 auto; */
    max-width: 1400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(147 86 120);
    padding: 20px 30px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
}

li {
    cursor: pointer;
}